<style media="screen">
    .marg-bottom {
        margin-bottom: 20px;
    }
    .center-70 {
        width: 70%;
        margin: 0 auto;
    }
    /*--- contenedor cuadrado que acomoda el contenido en el medio ---*/
    .cont-acomodador.size-4-3 {
        width: 100%;
        padding-bottom: 75%;
        position: relative;
        overflow: hidden;
    }
    .cont-acomodador .cont-interno {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .cont-acomodador .contenido {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /*--- estilos de los distintos videos ---*/
    .intel-webrtc-box-video {
        position: absolute;
        -webkit-transition: all ease-out 0.5s;
        -moz-transition: all ease-out 0.5s;
        -o-transition: all ease-out 0.5s;
        transition: all ease-out 0.5s;
    }
    .intel-webrtc-box-video.back-100 {
        width: 100%;
        height: 100%;
        z-index: 20;
        left: 0;
        top: 0;
    }
    .intel-webrtc-box-video.front-small {
        width: 30%;
        height: 30%;
        z-index: 40;
        left: 65%;
        top: 65%;
    }
    .intel-webrtc-box-video.front-small ~ .intel-webrtc-box-video.front-small {
        top: 30%;
    }
    .intel-webrtc-video {
        width: 100%;
        height: 100%;
    }

    #intel-webrtc-box-videos-full {
        background-color: black;
    }
    #intel-webrtc-box-videos-full:-webkit-full-screen {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    select {
        display: block;
    }
    .top-margin-30 {
      margin-top: 30px;
    }

    .error-toast-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
</style>

<div id="intel-webrtc-box-botonera" class="marg-bottom" ng-hide="status == 'finished'">
  <a href="" class="btn ngHide" ng-show='status == "calling"' ng-click='finishCall()'>Finalizar Llamada</a>
  <a href="" class="btn ngHide" ng-show='status == "calling" && config.share_screen && !onShare' ng-click='initShare()'>Iniciar Share Screen</a>
  <a href="" class="btn ngHide" ng-show='onShare' ng-click='finishShare()'>Finalizar Share Screen</a>
  <div class="ngHide row top-margin-30" ng-show='status == "configuration" && substatus != "searching_camera" && substatus != "cant_search_cameras"'>
    <div class="col m3 s3">
      <p>Selección de cámara:</p>
    </div>
    <div class="col m4 s4">
      <select ng-model="selected_camera" ng-if="cameraIds">
        <option value="indefinida">Cualquier cámara</option>
        <option ng-repeat="opt in cameraIds" value="{{opt.deviceId}}">{{opt.label}}</option>
      </select>
    </div>
    <div class="col m5 s5">
      <a href="" class="btn" ng-click='initCall()'>Iniciar Llamada</a>
    </div>
  </div>
  <p class="ngHide" ng-show="status == 'configuration' && substatus == 'searching_camera'">Buscando cámaras...</p>
  <a href="" class="btn ngHide" ng-show="status == 'configuration' && substatus == 'cant_search_cameras'" ng-click="searchCameras()">Buscar cámara</a>
  <div id="errorMessages" class="error-toast-container"></div>
</div>

<div class="ngHide center-70" ng-show='status == "calling"'>
  <div class="cont-acomodador size-4-3 ngHide" id="intel-webrtc-box-videos-full" ng-dblclick="maximizeVideos();" ng-show="status == 'calling'">
    <div class="cont-interno">
      <div class="contenido" id="intel-webrtc-box-videos">
      </div>
    </div>
  </div>
</div>

<p class="ngHide" ng-show="status == 'initializing'">Iniciando llamada...</p>
