.marg-bottom {
    margin-bottom: 20px;
}
.center-70 {
    width: 70%;
    margin: 0 auto;
}
/*--- contenedor cuadrado que acomoda el contenido en el medio ---*/
.cont-acomodador.size-4-3 {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
}
.cont-acomodador .cont-interno {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cont-acomodador .contenido {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*--- estilos de los distintos videos ---*/
.intel-webrtc-box-video {
    position: absolute;
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
.intel-webrtc-box-video.back-100 {
    width: 100%;
    height: 100%;
    z-index: 20;
    left: 0;
    top: 0;
}
.intel-webrtc-box-video.front-small {
    width: 30%;
    height: 30%;
    z-index: 40;
    left: 65%;
    top: 65%;
}
.intel-webrtc-box-video.front-small ~ .intel-webrtc-box-video.front-small {
    top: 30%;
}
.intel-webrtc-video {
    width: 100%;
    height: 100%;
}

#intel-webrtc-box-videos-full {
    background-color: black;
}
#intel-webrtc-box-videos-full:-webkit-full-screen {
    width: 100%;
    height: 100%;
    padding: 0px;
}
select {
    display: block;
}
.top-margin-30 {
  margin-top: 30px;
}

.error-toast-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.btn-fullscreen {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
  margin: 8px;
  background-color: #ff4081;
  color: white;
  padding: 10px;
}
